.article header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
  font-family: "Li Sirajee Sheikh";
  font-size: var(--post-heading-size);
}
.article section {
  font-family: "Atma";
  font-weight: 500;
}
.article header p {
  font-size: var(--fontSize-2);
  font-family: "Li Shamim Chitranee";
  font-weight: 700;
}

.nav ul {
  margin: var(--spacing-0);
}
