.article header h1 {
  margin: 0 0 1rem 0;
  font-family: "Li Sirajee Sheikh";
  font-size: 2rem;
}
.article section {
  font-family: "Lal Sabuj";
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.article header p {
  font-size: 1.2rem;
  font-family: "Li Shamim Chitranee";
  font-weight: 700;
}

.nav ul {
  margin: 0;
}

.nav li {
  font-family: atma;
}
