.article header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.article header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.nav ul {
  margin: var(--spacing-0);
}
