@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Li Niladri Moitri";
  src: url("../../static/fonts/NiladriMoitreeNew/LiNiladriMoitreeUnicodeItalic.ttf");
}

@font-face {
  font-family: "Li Niladri Nodia";
  src: url("../../static/fonts/NiladriNodia/Li-Niladri-Nodia-Unicode.ttf");
}

@font-face {
  font-family: "Li Shakib75";
  src: url("../../static/fonts/sakib75/Li-Shakib75-Unicode.ttf");
}
@font-face {
  font-family: "Li Shamim Chitranee";
  src: url("../../static/fonts/shamimChitranee/Li\ Shamim\ Chitranee\ Unicode.ttf");
}

@font-face {
  font-family: "Li Sirajee Sheikh";
  src: url("../../static/fonts/SirajeeSheikh/Li-Sirajee-Sheikh-Unicode.ttf");
}

@font-face {
  font-family: "Lal Sabuj";
  src: url("../../static/fonts/Ekushey_LalSabuj_Normal/LalSabuj\ Normal_Bold-04-09-2012.ttf");
}

@font-face {
  font-family: "Ekushey Mukto";
  src: url("../../static/fonts/Ekushey_Mukto/Mukto_Normal_31-08-2012.ttf");
}
