.postListItem {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.postListItem p {
  margin-bottom: var(--spacing-0);
  font-family: "Lal Sabuj";
  font-size: 17px;
}

.postListItem h2 {
  --post-heading-size: 1.7rem;
  font-family: "Li Sirajee Sheikh";
  font-size: var(--post-heading-size);
  color: var(--all-posts-heading-color);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.postListItem header {
  margin-bottom: var(--spacing-4);
  font-family: "Li Shamim Chitranee";
  font-weight: bold;
}

.smallDate {
  margin-right: var(--spacing-2);
}

.tags {
  & a {
    text-decoration: none;
    color: var(--menu-link-color);
    &:hover {
      color: var(--menu-hover-color);
      text-decoration: underline;
    }
  }
}
