.postListItem {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.postListItem p {
  margin-bottom: 0;
  font-family: "Lal Sabuj";
  font-size: 17px;
}

.postListItem h2 {
  font-family: "Li Sirajee Sheikh";
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.postListItem header {
  margin-bottom: 1rem;
  font-family: "Li Shamim Chitranee";
}

.smallDate {
  margin-right: 0.5rem;
}

.tags {
  & a {
    text-decoration: none;
    color: #717171;
    &:hover {
      color: #3d3d3d;
      text-decoration: underline;
    }
  }
}
