.globalWrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.globalHeader {
  margin-bottom: var(--spacing-12);
}

.mainHeading {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-size: var(--fontSize-7);
  margin: 0;
}
.headerLinkHome {
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-3);
  color: var(--color-heading);
}

.menu {
  margin: var(--spacing-10) var(--spacing-0);
}

.menuLinkCommon {
  margin-right: var(--spacing-8);
  text-decoration: none;
  font-family: "Li Sirajee Sheikh";
  font-size: var(--menu-fontSize);
  font-style: italic;
}
.menuLink {
  composes: menuLinkCommon;
  color: var(--menu-link-color);
  &:hover {
    text-decoration: underline;
    color: var(--menu-hover-color);
  }
}
.activeMenuLink {
  composes: menuLinkCommon;
  color: var(--menu-active-color);
}
